<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    
    <h1>Todo List</h1>
    <form action="/todo" method="post">
        <input type="text" name="task" placeholder="Enter your task" required>
        <button type="submit">Add Task</button>
    </form>

    <ul>
        {{#each todos}}
            <li>
                {{this.task}} 
                <a href="/delete-todo/{{this.id}}">Delete</a>
            </li>
        {{/each}}
    </ul>
</body>
</html>