<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO-APP</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="outer">
        <h1>TODO APP</h1>
        <div class="inner">
            <form action="/add-task" method="post">
                <input class="task-inp" type="text" name ="task" placeholder="Enter your task" required>
                <input class="desc-inp" type="text" name ="description" placeholder="Description..." required>
                <br>
                <button type="submit">Add Task ✔️</button>
            </form>

            <ul class="taskList">
                {{#each todos as |t| }}

                <div class="task-item">

                    {{!-- Content --}}
                    <li class="task-content">
                        <a href="/get-task/{{t.id}}" target="_blank">
                            <span>
                                ➡️{{t.task}} <br>
                                <span class="desc">
                                    {{t.description}}
                                </span>
                            </span>
                        </a>
                    </li>


                    {{!-- Delete button --}}
                    <a href="/delete-task/{{t.id}}">
                        <button> Delete </button>
                    </a>
                </div>
                    
                {{/each}}
            </ul>
        </div>
    </div>
</body>
</html>