<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h2>This is a Signup page</h2>

    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Enter Name" required> <br>
        <input type="email" name="email" placeholder="Enter Email"> <br>
        <input type="password" name="password" placeholder="Enter Password" required> <br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>